<?xml version="1.0"?>
<!--
  ~ This source file is proprietary and part of Rebilly.
  ~
  ~ (c) Rebilly SRL
  ~     Rebilly Ltd.
  ~     Rebilly Inc.
  ~
  ~ @see https://www.rebilly.com
  -->

<psalm
  totallyTyped="true"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="https://getpsalm.org/schema/config"
  xsi:schemaLocation="https://getpsalm.org/schema/config ../vendor/vimeo/psalm/config.xsd"
  allowPhpStormGenerics="true"
  cacheDirectory=".psalm/cache"
  errorBaseline=".psalm/baseline.xml"
>
  <projectFiles>
    <directory name="src"/>
    <directory name="tests"/>
    <ignoreFiles>
      <directory name="vendor"/>
    </ignoreFiles>
  </projectFiles>

  <issueHandlers>
    <LessSpecificReturnType/>
    <InvalidDocblock/>
    <MisplacedRequiredParam/>
    <MissingConstructor/>
    <DocblockTypeContradiction/>
    <UnresolvableInclude/>
    <RawObjectIteration/>
    <InvalidStringClass/>
    <MismatchingDocblockReturnType/>
    <UndefinedGlobalVariable/>
    <FalsableReturnStatement/>
    <InvalidFalsableReturnType/>
    <UnusedFunctionCall/>
    <PossiblyUnusedParam/>
    <MismatchingDocblockParamType/>
    <UndefinedClass/>
    <UnusedParam/>
    <InvalidReturnStatement/>
    <RedundantCondition/>
    <PossiblyUndefinedVariable/>
    <InternalMethod/>
    <InternalProperty/>
    <InternalClass/>
    <MissingClosureReturnType/>
    <MissingClosureParamType/>
    <UndefinedThisPropertyAssignment/>
    <DuplicateArrayKey/>
    <PropertyNotSetInConstructor/>
    <PossiblyUnusedProperty/>

    <!-- Temporary disabled -->

    <MissingReturnType errorLevel="suppress"/>
    <MissingParamType errorLevel="suppress"/>
    <PossiblyNullArgument errorLevel="suppress"/>
    <PossiblyNullArrayOffset errorLevel="suppress"/>
    <PossiblyNullArrayAccess errorLevel="suppress"/>
    <PossiblyNullPropertyAssignmentValue errorLevel="suppress"/>
    <PossiblyNullOperand errorLevel="suppress"/>
    <NullArgument errorLevel="suppress"/>
    <InvalidOperand errorLevel="suppress"/>
    <RedundantConditionGivenDocblockType errorLevel="suppress"/>
    <InvalidNullableReturnType errorLevel="suppress"/>
    <InvalidPropertyAssignmentValue errorLevel="suppress"/>
    <PossiblyInvalidMethodCall errorLevel="suppress"/>
    <UnusedVariable errorLevel="suppress"/>
    <PossiblyNullReference errorLevel="suppress"/>
    <MoreSpecificImplementedParamType errorLevel="suppress"/>
    <TypeDoesNotContainType errorLevel="suppress"/>
    <PossiblyNullPropertyFetch errorLevel="suppress"/>
    <InvalidPropertyFetch errorLevel="suppress"/>
    <InvalidReturnType errorLevel="suppress"/>
    <UndefinedPropertyFetch errorLevel="suppress"/>
    <InvalidArgument errorLevel="suppress"/>
    <PossiblyUndefinedMethod errorLevel="suppress"/>
    <DocblockTypeContradiction errorLevel="suppress"/>
    <NullableReturnStatement errorLevel="suppress"/>
    <InvalidScalarArgument errorLevel="suppress"/>
    <InvalidMethodCall errorLevel="suppress"/>
    <UndefinedMethod errorLevel="suppress"/>
    <InvalidArrayOffset errorLevel="suppress"/>

    <!-- No needed for library -->

    <MissingPropertyType errorLevel="suppress"/>
    <UnusedClass errorLevel="suppress"/>
    <UnusedMethod errorLevel="suppress"/>
    <DeprecatedMethod errorLevel="suppress"/>
    <DeprecatedProperty errorLevel="suppress"/>
    <DeprecatedClass errorLevel="suppress"/>
    <DeprecatedConstant errorLevel="suppress"/>
    <DeprecatedFunction errorLevel="suppress"/>
    <DeprecatedInterface errorLevel="suppress"/>
    <DeprecatedTrait errorLevel="suppress"/>
  </issueHandlers>
  <plugins>
    <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
  </plugins>
</psalm>
